<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<h1>Result</h1>

<div class='banner'>
  <h2><%= @result %></h2>
</div>

<h3><%= link_to "Play Again", new_path %></h3>
<!-- Add a link to /new on the score.html.erb view using the link_to Rails helper. -->

